
QuanLyHSSV/.vs/QuanLyHSSV/v15/Server/sqlite3/db.lock
QuanLyHSSV/.vs/QuanLyHSSV/v15/Server/sqlite3/storage.ide
QuanLyHSSV/.vs/QuanLyHSSV/v15/Server/sqlite3/storage.ide-shm
QuanLyHSSV/.vs/QuanLyHSSV/v15/Server/sqlite3/storage.ide-wal
QuanLyHSSV/.vs/QuanLyHSSV/v15/.suo
QuanLyHSSV/QuanLyHSSV/bin/Debug/QuanLyHSSV.exe
QuanLyHSSV/QuanLyHSSV/bin/Debug/QuanLyHSSV.pdb
QuanLyHSSV/QuanLyHSSV/connectionString.cs
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.csproj.CoreCompileInputs.cache
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.csproj.FileListAbsolute.txt
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.csproj.GenerateResource.Cache
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.exe
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.pdb
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.pdb
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.exe
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.csproj.GenerateResource.Cache
QuanLyHSSV/QuanLyHSSV/obj/Debug/QuanLyHSSV.csproj.FileListAbsolute.txt
QuanLyHSSV/QuanLyHSSV/connectionString.cs
QuanLyHSSV/QuanLyHSSV/bin/Debug/QuanLyHSSV.pdb
QuanLyHSSV/QuanLyHSSV/bin/Debug/QuanLyHSSV.exe
